
<style>

    body {
        background: whitesmoke;
}
</style>



<!--<audio  controls  src="/c/Users/kanak/desktop/Recording_1.mp3">
  Your browser does not support the
  <code>audio</code> element.
</audio>
-->

<div id="carouselExampleCaptions" class="carousel slide" data-interval="false">
  <div class="carousel-indicators" data-interval="false" >
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" >
    <div class="carousel-item active" data-interval="false">
      <img src="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABYpoVya-RB6trIhPgUX-RlAAVd6CfVHlMsJq37XfsL-8xIbaG2tdR6mNxGjjZFV_YGvtzyXE9lMenII030slWJvq7rxV.jpg?r=17f" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:white"> Humorous adventures of Akbar and Birbal  </h5>
        <!-- Default dropup button -->
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle hindi-audio" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Hindi (Original)</a></li>
            <li><a class="dropdown-item" href="#"> English </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="carousel-item" >
      <img src="https://images.pond5.com/hindu-god-lord-ganesha-animated-footage-074654785_prevstill.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Heroic Tale Of Lord Ganesha</h5>
        <!-- Default dropup button -->
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </button>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" >Hindi (Original)</a> </li>

            <li><a class="dropdown-item" href="#"> English </a></li>
          </ul>

          <iframe
            frameborder="0"
            width="200"
            height="100"
            src="https://drive.google.com/file/d/1w9v8IZwIupbgxYTQX9NP_ZvdFflsBmHC/preview">
          </iframe>

        </div>
      </div>
    </div>


    <div class="carousel-item" >
      <img src="https://wallpapercave.com/wp/wp8809578.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lord Krishna's Love Story</h5>
        <!-- Default dropup button -->
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Hindi (Original)</a></li>
            <li><a class="dropdown-item" href="#"> English </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>




















<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>