<div style="color:MediumAquaMarine" >

  <body background="https://www.99images.com/download-image/293267/1500x1000">
    <h1> <center>   <font size="+6"> Welcome To Your Story Adventure </font>  </center> </h1>

    <p> <center> <font size="+2"> Click one of the two buttons to get started </font> </center> </p>
    <center> <%= link_to "Audio Stories", home_audio_path, class:"btn btn-info btn-lg "%> <%= link_to "Text Stories", home_text_path, class:"btn btn-info btn-lg "%>   </center>

  </body>
</div>

<div id=" Mission Statement", style="color:MediumAquaMarine">
          <br/><br/><br/> <br/><br/><br/> <br/><br/><br/> <br/><br/><br/> <br/><br/><br/> <br/><br/><br/> <br/><br/><br/>
 <a href="home/about.html"> <center><h3> <strong>Click Here To Learn More about the Webpage </strong> </h3> </center> </a>



</div>