<br/>
<div id=" Akhbar Image ">
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Govardhan._Akbar_With_Lion_and_Calf_ca._1630%2C_Metmuseum_%28cropped%29.jpg"
       width="400" height="400" alt="King Akhbar Image">
  <img src="https://artsourceinternational.com/wp-content/uploads/2018/05/MIT-1867-PERSIA.jpg"
       width="400" height="400" alt="Map of Persia">
  <img src="https://static9.depositphotos.com/1526816/1100/v/600/depositphotos_11008008-stock-illustration-house-on-a-hill.jpg"
       width="450" height="400" alt="Map of Persia">
</div>
<div id="story">
  <br/>
  <p>"फ़ारस के शहंशाह और बादशाह अकबर गहरे मित्र थे. अक्सर पत्र लिखकर वे एक-दूसरे का हाल-चाल पूछते रहते थे. पत्र में वे आमोद-प्रमोद की बातें, लतीफ़े और पहेलियाँ भी लिखते थे. पहेलियों का उत्तर सही मिलने पर वे एक-दूसरे को उपहार भी भेजा करते थे.

एक बार फ़ारस के शहंशाह का पत्र अकबर (Akbar) को प्राप्त हुआ, जिसमें उन्होंने एक प्रश्न लिखकर प्रेषित किया था. प्रश्न कुछ ऐसा था – “आपके राज्य की सड़कों पर कितने मोड़ हैं?”

प्रश्न पढ़कर अकबर (Akbar) सोच में पड़ गए. उनका सम्राज्य दूर-दूर तक फैला हुआ था. इतने विस्तृत साम्राज्य में सड़कों की संख्या भी अत्यधिक थी. ऐसे में सभी सड़कों के मोड़ों की गणना कर पाना एक नामुमकिन कार्य था.

लेकिन अकबर फ़ारस के शहंशाह के सामने शर्मिंदा नहीं होना चाहते थे. उन्हें किसी भी सूरत में इस प्रश्न का उत्तर देना ही था. उन्होंने टोडरमल को बुलवाया और कहा, “टोडरमल! तुम अभी तुरंत कुछ सैनिकों को लेकर निकल जाओ. तुम्हें हमारे पूरे साम्राज्य की सड़कों के मोड़ों की गणना करनी है. किसी भी सूरत में हमें ये काम पूरा करके दो.” टोडरमल कुछ सैनिकों को लेकर तुरंत निकल गया. लेकिन कई दिन बीत जाने के बाद भी नहीं लौटा. इधर अकबर को चिंता सताने लगी कि ये कार्य टोडरमल कर पायेगा भी या नहीं?

एक दिन बीरबल ने अकबर को चिंतित देखा, तो पूछ बैठा, “जहाँपनाह! क्या बात है? आप बड़े चिंतित लग रहे हैं?

अकबर ने फ़ारस के शहंशाह के पत्र और उसमें पूछे गए प्रश्न के बारे में बीरबल को बताते हुए कहा, “बीरबल! हमने टोडरमल को राज्य की सभी सड़कों के मोड़ों की संख्या की गणना के लिए भेजा है. हमें उसकी ही प्रतीक्षा है. साथ ही ये चिंता भी कि वो ये काम पूरा करके लौटेंगा या नहीं.”

फ़ारस के शहंशाह के पूछे गए प्रश्न को जानकर बीरबल मुस्कुरा उठा और बोला, “जहाँपनाह! इस आसान से प्रश्न के लिए आपको टोडरमल को कहीं भी भेजने की आवश्यकता नहीं थी. मैं तो यही खड़े-खड़े ये बता सकता हूँ कि आपके राज्य की सड़कों पर कितने मोड़ हैं. यहाँ तक कि मैं तो ये भी बता सकता हूँ कि पूरी दुनिया की सड़कों में कितने मोड़ हैं.” “बीरबल! तुम बिना गणना किये हमारे राज्य और दुनिया की सड़कों के मोड़ों की संख्या बता सकते हो. कैसे?” अकबर हैरत में पड़ गए.

“जहाँपनाह! क्योंकि इसमें गणना की आवश्यकता ही नहीं है. दुनिया की सारी सड़कों के बस दो ही तो मोड़ होते हैं. एक दांया और दूसरा बांया.” बीरबल (birbal) ने शांतभाव से उत्तर दिया.

ये उत्तर सुनकर अकबर हँस पड़े, “अरे, हमने तो ये सोचा ही नहीं और टोडरमल को सड़कों के मोड़ों की गणना के लिए भेज दिया. बीरबल तुम वाकई अक्लमंद हो.”

    अकबर ने बीरबल को इनाम में सोने का हार दिया और फ़ारस के शहंशाह के प्रश्न का उत्तर उन्हें भिजवा दिया.</p>
</div>
<%= link_to "Back", home_text_path, class:"btn btn-secondary "%>