<br/>
<div id=" Akhbar Image ">
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Govardhan._Akbar_With_Lion_and_Calf_ca._1630%2C_Metmuseum_%28cropped%29.jpg"
       width="400" height="400" alt="King Akhbar Image">
  <img src="https://artsourceinternational.com/wp-content/uploads/2018/05/MIT-1867-PERSIA.jpg"
       width="400" height="400" alt="Map of Persia">
  <img src="https://static9.depositphotos.com/1526816/1100/v/600/depositphotos_11008008-stock-illustration-house-on-a-hill.jpg"
       width="450" height="400" alt="Map of Persia">
</div>
<div id="story">
  <br/>
  <p>Emperor and Emperor Akbar of Persiawere close friends. They often wrote letters asking each other's well being. In the letter, he also used to write jokes, jokes and riddles. They also used to send gifts to each other when they got the answer of the riddles correct.

    Once a letter from the Emperor of Persia was received by Akbar , in which he had sent a question by writing. The question was something like – “How many turns are there on the roads of your state?”

    After reading the question, Akbar got into thinking. His empire was spread far and wide. The number of roads in such a vast empire was also immense. In such a situation, it was an impossible task to calculate the turns of all the roads.

    But Akbar did not want to be embarrassed in front of the emperor of Persia. He had to answer this question in any case. He called Todarmal and said, "Todarmal! You immediately leave with some soldiers. You have to count the turns of the roads of our entire empire. In any case, let us complete this work." Todarmal left immediately with some soldiers. But even after several days passed, he did not return. Here Akbar started worrying whether Todarmal will be able to do this work or not?

    One day Birbal saw Akbar worried, so he asked, "Jahanpanah! Wow? You seem very worried?

    Akbar told Birbal about the letter of the Emperor of Persia and the question asked in it, "Birbal! We have sent Todarmal to calculate the number of turns of all the roads in the state. We are waiting for him. As well as the concern whether he will return after completing this work or not.

    Knowing the question asked by the emperor of Persia, Birbal smiled and said, "Jahanpanah! You didn't need to send Todermal anywhere for this simple question. I can only tell this standing up that how many turns are there on the roads of your state. Even I can tell how many turns are there in the roads of the whole world. "Birbal! You can tell the number of turns on the roads of our state and the world without counting. how?" Akbar was astonished.

    "Jahanpanah! Because it does not require any calculation. All the roads in the world have only two turns. One right and the other left." Birbal replied calmly.

    Hearing this reply, Akbar laughed, "Oh, we didn't even think about it and sent Todarmal to calculate the turns of the roads. Birbal, you are really intelligent."

    Akbar gave Birbal a gold necklace as a reward and sent him the answer to the question of the emperor of Persia.</p>

</div>
<%= link_to "Back", home_text_path, class:"btn btn-secondary "%>
