<br/>
<div id=" Story Image ">
  <center><img src="https://cdn2.momjunction.com/wp-content/uploads/2014/06/Elephants-And-Hares.jpg"
               alt="rabbit and elephant image"> </center>

</div>
<div id="story">
  <br/>
  <p>  यह हितोपदेश संग्रह की एक और अच्छी कहानी है। एक बार की बात है एक जंगल में हाथियों का झुंड रहता था। चतुर्दांत नाम का एक शक्तिशाली हाथी उनका राजा था। जंगल के बीच में एक बड़ी सी झील थी जहाँ सभी जानवर पानी पीने और नहाने जाया करते थे। एक बार ऐसा हुआ कि पूरे साल बारिश नहीं हुई और झील सूख गई। कई पक्षी और जानवर प्यास से मर गए। हाथियों को चिंता हुई कि अगर उन्हें जल्द ही पानी नहीं मिला तो उनमें से कई प्यासे मर जाएंगे।

    हाथियों ने इस मामले को अपने राजा चतुरदंत के पास ले जाने का फैसला किया। तब वे अपने राजा के पास गए और कहने लगे, “महाराज, जैसा कि आप जानते हैं कि हमारे जंगल में पानी नहीं है, बहुत से पक्षी और जानवर प्यास से मर गए हैं। हमें जीवित रहने के लिए पानी की आवश्यकता होती है। अगर हम जल्द ही यहां रहेंगे तो हममें से कई लोग मर जाएंगे। हमें जल्द से जल्द पानी का पता लगाना होगा।" राजा हाथी ने इस विचार पर विचार किया और हाथियों को पानी खोजने के लिए अलग-अलग दिशाओं में जाने को कहा। सौभाग्य से, उनमें से एक को दूर दूसरे जंगल में पानी से भरी एक बड़ी झील मिली।

    यह समाचार सुनकर राजा हाथी प्रसन्न हो गया। उसने अपने सभी अनुयायियों को झील की ओर अपना रास्ता बनाने का आदेश दिया। यह झील पानी से भरी हुई थी और बारिश न होने पर भी कभी सूखती नहीं थी। इस झील के रास्ते में खरगोशों की बस्ती थी। हाथियों को खरगोशों की इस बस्ती से गुजरना पड़ा। हाथियों के भारी पैरों के नीचे हजारों खरगोश कुचल गए और उनमें से कई घायल हो गए। खरगोश दहशत में भाग गए। स्थिति गंभीर होती जा रही थी, इसलिए खरगोशों के राजा ने एक सभा बुलाई।

    बैठक में राजा ने कहा, “हाथियों का एक झुंड हमारे क्षेत्र से गुजर रहा है। उन्होंने हमारे हजारों दोस्तों को मार डाला है। हमें अधिक मौतों से बचने की गंभीर आवश्यकता है। मैं चाहता हूं कि आप सभी हमारी जाति को बचाने का उपाय सोचें।" सभी खरगोश एक विचार प्रक्रिया से गुजरे। अचानक, एक छोटे से खरगोश ने एक योजना बनाई और राजा से कहा, "महाराज, यदि आप मुझे अपने दूत के रूप में हाथियों के राजा के पास भेजेंगे, तो मुझे इस समस्या का समाधान मिल सकता है"। रैबिट किंग ने इस विचार को अपनी स्वीकृति दे दी। छोटा खरगोश झील की ओर दौड़ पड़ा।

    जब उसने हाथियों के झुंड को झील से लौटते हुए देखा, तो उसने महसूस किया कि उनके पास जाना असंभव है। तब उसने सोचा कि वह हाथियों के राजा से कैसे बात कर सकता है। इस प्रकार, वह एक पहाड़ी पर चढ़ गया और चिल्लाया, “हे हाथियों के राजा! कृपया मेरी बात सुने"। खरगोश की आवाज सुनकर चतुरदंत कुछ देर रुके और बोले, "कौन हो तुम? कहाँ से आये हो?" स्मार्ट खरगोश ने उत्तर दिया, "मैं चंद्रमा भगवान द्वारा आपके लिए भेजा गया दूत हूं"। हाथियों के राजा ने कहा, "तुम यहाँ क्यों आए हो?"

    खरगोश ने उत्तर दिया, "चंद्रमा भगवान ने आपके लिए एक संदेश भेजा है। एक दूत केवल सच बोलता है। कृपया विचार करें कि एक दूत को उसके कहने के लिए कभी दंडित नहीं किया जाता है। वह तो सिर्फ अपना काम कर रहा है, इसलिए तुम्हें मुझसे नाराज़ नहीं होना चाहिए।" चतुरदांत ने उसे पुष्टि की कि उसे किसी भी तरह से नुकसान नहीं पहुंचाया जाएगा।छोटे खरगोश ने कहा, "चंद्रमा भगवान आपसे नाराज हैं क्योंकि आप अपने झुंड को अपनी पवित्र झील में ले आए हैं और शांति भंग कर दी है। आपने झील के रास्ते में हजारों खरगोशों को कुचल कर मार डाला है। खरगोश चंद्रमा भगवान के विशेष संरक्षण में हैं। चूंकि आपने चंद्र देव और उनके विशेष प्राणियों को परेशान किया है, इसलिए वह आपसे बेहद नाराज हैं और चाहते हैं कि आप एक ही बार में उनका राज्य छोड़ दें। यदि नहीं, तो आपको भयानक परिणाम भुगतने पड़ सकते हैं।"

    चंद्र देव का यह संदेश सुनकर राजा हाथी डर गया। उन्होंने कहा, "आप सही कह रहे हैं। हमने झील के रास्ते में कई खरगोशों को मार डाला है। लेकिन वास्तव में यह अज्ञानता में किया गया था। मैं देखूंगा कि तुम्हें अब और कष्ट नहीं उठाना पड़ेगा। मैं चंद्रमा भगवान से मेरे पापों के लिए क्षमा करने का अनुरोध करना चाहता हूं। कृपया मुझे सलाह दें कि मुझे क्या करना चाहिए"। खरगोश ने उत्तर दिया, "ठीक है। मैं तुम्हें चन्द्र देव के पास ले चलूँगा। भगवान को अपनी श्रद्धांजलि अर्पित करें और उनसे अपने द्वारा किए गए अपराध के लिए आपको क्षमा करने के लिए कहें। मेरे साथ आओ"।

    रात में, खरगोश हाथियों के राजा को झील तक ले गया। खरगोश और हाथी दोनों झील के किनारे खड़े थे। वहाँ उन्होंने शांत जल में चंद्रमा की प्रतिबिम्बित छवि देखी। तभी एक हल्की हवा चली जिससे झील का पानी अस्त-व्यस्त हो गया और ऐसा लग रहा था कि चाँद इधर-उधर घूम रहा है। चतुरदंत ने जब यह देखा तो उन्हें लगा कि चंद्रमा देव वास्तव में उनसे नाराज हैं। उसने दहशत में चंद्रमा भगवान को प्रणाम किया। खरगोश ने कहा, "हे चंद्रमा भगवान, हाथियों के राजा ने अज्ञानता में पाप किया है। कृपया उसे क्षमा करें। वह यहां से अपना झुण्ड लेकर जा रहा है और कभी वापस न आने का वादा कर रहा है।"

    भयभीत चतुर्दंत ने एक बार फिर चंद्रमा भगवान को प्रणाम किया और तुरंत अपने झुंड के साथ उस स्थान को छोड़ दिया। और खरगोश हमेशा के लिए अपनी बस्ती में खुशी-खुशी रहते थे।  </p>

</div>
<%= link_to "Back", home_text_path, class:"btn btn-secondary "%>
