<br/>
<div id=" Story Image ">
  <center><img src="https://cdn2.momjunction.com/wp-content/uploads/2014/06/Elephants-And-Hares.jpg"
               alt="rabbit and elephant image"> </center>

</div>
<div id="story">
  <br/>
  <p>  Once upon a time, there lived a herd of Elephants in a forest. A mighty Elephant by the name of Chaturdanta was their king. There was a big lake in the middle of the forest where all the animals used to go to drink water and to take a bath. Once it so happened, that there was no rain for the whole year and the lake dried up. Many of the birds and the animals died of thirst. The Elephants got worried that if they didn’t get water soon many of them would die of thirst.

    The Elephants decided to take the matter to their king, Chaturdanta. So they approached their king and said, “You Majesty, as you know there is no water in our forest, many of the birds and animals have died due to thirst. We require water in order to survive. If we will stay here soon many of us will die. We have to find out water as soon as possible”. The King Elephant considered the idea and asked the Elephants to go in different directions to find water. Fortunately, one of them found a large lake full of water in another jungle far away.

    The King Elephant got happy to hear this news. He ordered all his followers to make their way towards the lake. This lake was full of water and never went dry even if it didn’t rain. On the way to this lake, there was a settlement of Rabbits. The Elephants had to pass through this settlement of Rabbits. Thousands of Rabbit got crushed under the heavy feet of the Elephants and many of them got wounded. The Rabbits fled in terror. The situation was getting severe, so the King of the Rabbits called up a meeting.

    In the meeting, the King said,” A herd of Elephants is passing through our area. They have killed thousands of our friends. We are in a critical need to avoid more deaths. I want all of you to think of a way to save our race”. All the Rabbits underwent a thought process. Suddenly, a little Rabbit derived a plan and said to the King, “Your Majesty, if you will send me as your messenger to the King of the Elephants, I might find a solution to this problem”. The Rabbit King gave his approval to the idea. The little Rabbit rushed towards the lake.

    When he saw the herd of Elephants returning from the lake, he realized that it was impossible to get near to them. Then he thought that how could he talk to the King of Elephants. Thus, he climbed up a hill and shouted, “O, King of the Elephants. Please listen to me”. On hearing the Rabbit’s voice, Chaturdanta stopped for a while and replied,” Who are you? From where have you come?” The smart Rabbit answered, “I am a messenger sent to you by the Moon God”. The King of the Elephants said, “Why you have come here?”

    The Rabbit replied, “Moon God has sent a message for you. A messenger speaks only truth. Please consider that a messenger is never punished for what he has to say. He is only doing his job so you must not be angry with me”. Chaturdanta confirmed him that he won’t be harmed in any way. The little Rabbit said, “The Moon God is angry with you because you have brought your herd to his holy lake and have disturbed the peace. You have crushed thousands of Rabbits to death on the way to lake. Rabbits are under the special protection of Moon God. Since you have bothered the Moon God and his special creatures, he is extremely annoyed with you and wants you to leave his kingdom at once. If not, then you might face terrible consequences”.

    The King Elephant was scared to hear this message from the Moon God. He said, “You are right. We have killed many rabbits on our way to the lake. But really that was done in ignorance. I will see that you do not suffer anymore. I want to request the Moon God to pardon me for my sins. Please advise me what I should do”. The Rabbit replied, “Ok. I will take you to the Moon God. Pay your homage to the God and ask him to forgive you for the crime you have committed. Come with me”.

    At night, the Rabbit led the King of Elephants to the lake. Both, the Rabbit and the Elephant stood near the bank of the lake. There they saw the reflected image of the Moon in the still water. Just then, a mild breeze blew disturbing the waters of the lake and the moon seemed to move to and fro. When Chaturdanta saw this, he thought that the Moon God was really angry with him. He bowed to the Moon God in panic. The Rabbit said, “Oh Moon God, The King of Elephants has done a sin in ignorance. Please forgive him. He is taking away his herd from here and promising never to come back”.

    Frightened Chaturdanta bowed once again to the Moon God and left the place with his herd immediately. And the Rabbits lived happily in their settlement ever after. </p>

</div>
<%= link_to "Back", home_text_path, class:"btn btn-secondary "%>
