<br/>
<div id=" Swan Image ">
  <center><img src="https://www.culturalindia.net/iliimages/The-Golden-Swan-ili-288-ogimg.jpg"> </center>
</div>
<div id="story">
  <br/>
  <p> एक बार की बात है, एक हंस / हंस था जिसके सुनहरे पंख थे। यह हंस एक तालाब में रहता था। इस तालाब के पास एक घर था, जहां एक गरीब महिला अपनी दो बेटियों के साथ रहती थी। लोग वास्तव में गरीब थे और एक कठिन जीवन जी रहे थे। हंस ने देखा कि बेचारी मां अपनी बेटियों के साथ मुश्किल से गुजर रही है।

    हंस ने सोचा, “अगर मैं उन्हें एक के बाद एक अपने सुनहरे पंख दे दूं, तो माँ उन्हें बेच सकती हैं। इससे जुटाए गए पैसों से वह और उनकी बेटियां आराम से रह सकती हैं।" यह सोचकर हंस उड़कर उस बेचारी के घर चला गया। हंस को घर के अंदर देख महिला ने कहा, 'तुम यहां क्यों आए हो? हमारे पास आपको देने के लिए कुछ नहीं है।"

    हंस ने उत्तर दिया, "मैं कुछ लेने नहीं आया हूं, लेकिन मेरे पास तुम्हें देने के लिए कुछ है। मैं तुम्हारी हालत जानता हूँ। मैं अपने सुनहरे पंख एक-एक करके दूंगा और तुम उन्हें बेच सकते हो। इसके जरिए जुटाए गए पैसे से आप लोग आराम से रह सकते हैं।" इतना कहकर हंस ने अपना एक पंख गिरा दिया और फिर उड़ गया। यह एक नियमित विशेषता बन गई और समय-समय पर हंस वापस आ गया और हर बार एक और पंख छोड़ गया।

    इस तरह सोने के हंस के पंख बेचकर मां और उनकी बेटियां खुशी-खुशी अपना जीवन व्यतीत कर रही थीं। प्रत्येक सुनहरे पंख ने उन्हें आराम से रखने के लिए पर्याप्त धन दिया। लेकिन माँ को जल्द से जल्द सारे पंख मिल जाने का लालच हो गया। एक दिन, उसने अपनी बेटियों से कहा, "अब, हम इस हंस पर भरोसा नहीं करेंगे, शायद वह उड़ जाए और कभी वापस न आए। अगर ऐसा हुआ तो हम फिर से गरीब हो जाएंगे। हम उसके सारे पंख ले लेंगे, जब वह अगली बार आएगी।"

    मासूम बेटियों ने जवाब दिया, “माँ, इससे हंस को चोट लगेगी। हम उसे कोई कष्ट नहीं देंगे।" लेकिन माँ अगली बार आने पर हंस को पकड़ने के लिए दृढ़ थी। अगली बार जब हंस आया, तो माँ ने उसे पकड़ लिया और उसके सारे पंख खींच लिए। अब हंस के सुनहरे पंख कुछ अजीब पंखों में बदल गए। ऐसे पंख देखकर मां चौंक गई।

    गोल्डन स्वान ने कहा, "बेचारा माँ, मैं तुम्हारी मदद करना चाहता था, लेकिन तुम मुझे मारना चाहते थे। अपनी इच्छा के अनुसार मैं तुम्हें सोने का पंख देता था। अब, मुझे लगता है कि आपकी मदद करने की कोई आवश्यकता नहीं है। अब, मेरे पंख तुम्हारे लिए मुर्गे के पंखों से ज्यादा कुछ नहीं हैं। मैं इस जगह से जा रहा हूं और कभी वापस नहीं आऊंगा ”। माँ ने खेद व्यक्त किया और अपने द्वारा की गई गलती के लिए क्षमा मांगी। गोल्डन हंस ने कहा, "कभी लालची मत बनो" और उड़ गया।</p>

</div>
<%= link_to "Back", home_text_path, class:"btn btn-secondary "%>
